.staffBox {
	display: flex;
	justify-content: center;
}

.staff {
	width: 360px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	border: 4px double black;
	position: relative;
	cursor: pointer;
}

.staffRow {
	height: 16px;
	width: 100%;
	background: white;
}

.staffRow:hover {
	background: lightblue;
}

.staffSpace {
}

.staffLineBox {
	flex-direction: column;
}

.staffLine {
	height: 2px;
	width: 100%;
	background: black;
}

.staffLineC {
	height: 2px;
	width: 30px;
	background: black;
}

.inVisible {
	visibility: hidden;
}

.clefBox {
	position: absolute;
	left: -10px;
	top: -12px;
	height: 100%;
}

.clef {
	height: 105%;
	width: 80px;
}

.noteHead {
	position: relative;
	background: black;
	border: 2px solid black;
	border-radius: 50%;
	width: 24px;
	height: 22px;
	outline: none;
}

.prevSelected {
	margin-left: 40px;
}

.accidental {
	position: absolute;
	left: -18px;
	top: -4px;
	font-size: 22px;
	font-weight: bold;
}

.noteList {
	min-width: 28px;
	margin: 20px 4px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-wrap: wrap-reverse;
}

.fillerNote {
	height: 8px;
	background: white;
}
