.staffBox {
	display: flex;
	justify-content: center;
}

.staff {
	width: 360px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	border: 4px double black;
	position: relative;
	cursor: pointer;
}

.staffRow {
	height: 16px;
	width: 100%;
	background: white;
}

.staffRow:hover {
	background: lightblue;
}

.staffLineBox {
	flex-direction: column;
}

.staffLine {
	height: 2px;
	background: black;
}

.staffLineC {
	height: 2px;
	background: black;
}

.inVisible {
	visibility: hidden;
}

.clefBox {
	position: absolute;
	left: -10px;
	top: -12px;
	height: 100%;
}

.clef {
	height: 105%;
	width: 80px;
}

.noteHead {
	position: relative;
	background: black;
	border-radius: 50%;
	width: 24px;
	height: 22px;
	outline: none;
}

.prevSelected {
	left: 16px;
}

.multiNote {
	margin-left: 20px;
	margin-right: 20px;
}

.accidental {
	position: absolute;
	font-size: 22px;
	outline: none;
	text-emphasis-color: white;
	user-select: none;
}

.sharp {
	top: -4px;
}

.flat {
	top: -6px;
	font-style: italic;
}

.natural {
	top: -10px;
	margin-right: 6px;
	font-weight: bold;
	font-size: 30px;
}

.prevSelectAcc {
	left: -30px;
}

.notPrevSelectAcc {
	left: -22px;
}

.notPrevSelectAccFlat {
	left: -16px;
}

.noteList {
	min-width: 28px;
	margin: 20px 4px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-wrap: wrap-reverse;
}

.fillerNote {
	height: 8px;
	background: white;
}

.noteListName {
	position: absolute;
	width: 80px;
	left: 370px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
