.appBox {
	background: whitesmoke;
	min-height: 100vh;
	height: 100%;
	margin: 0 auto;
	max-width: 1300px;
	width: 100vw;
}

.appBody {
	display: flex;
}

.inputs {
	margin: 20px 8px;
	height: 84vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

@media (max-width: 900px) {
	.appBody {
		flex-direction: column;
		overflow-x: hidden;
	}

	.inputs {
		justify-content: flex-start;
		height: auto;
	}
}

@media (max-width: 450px) {
	.appBox {
		width: 100vw;
	}
}

@media (max-width: 350px) {
	.appBox {
		width: 100vw;
	}
}
