.homeHeader {
	background: linear-gradient(90deg, #b8d, #a6c, #859);
	text-align: center;
	border-bottom: 1px solid rgb(75, 29, 29);
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
}

.homeHeader p {
	margin: 0;
	padding: 8px 0;
}

.mainTitle {
	font-size: 20px;
	margin: 0;
	padding: 8px 0;
}

.madeBy {
	animation: colorChange 3s infinite linear;
	animation-play-state: paused;
}

.madeBy:hover {
	animation-play-state: running;
}

@keyframes colorChange {
	0% {
		color: #000;
	}
	20% {
		color: cyan;
	}
	40% {
		color: goldenrod;
	}
	60% {
		color: red;
	}
	80% {
		color: lightskyblue;
	}
	100% {
		color: #000;
	}
}
