.controlsBox {
	width: 40%;
	padding: 8px;
	background: lightgrey;
	border: 2px grey solid;
	border-radius: 2px;
	font-size: 12px;
}

.radioBox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 12px auto 24px;
}

.radioInputBox {
	display: flex;
	flex-direction: row;
	margin: 0 12px;
}
