.controlsBox {
	width: 40%;
	padding: 8px;
	background: lightgrey;
	border: 2px grey solid;
	border-radius: 2px;
	font-size: 12px;
}

.radioBox {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 12px auto;
}

.radioInputBox {
	display: flex;
	flex-direction: row;
}

.clearStaffButton {
	display: block;
	margin: 0 auto;
	font-weight: bold;
	border: 1px solid #aaaaaa;
	padding: 4px;
	border-radius: 4px;
	background: linear-gradient(#dddddd, #7799bb);
	cursor: pointer;
}
