.uiButton {
	padding: 8px 8px;
	border: 1px solid #888;
	border-radius: 4px;
	font-weight: bold;
}

.clearStaffButton {
	background: linear-gradient(#ddd, #b66);
}

.muteButton {
	background: linear-gradient(#ddd, #4b8);
	font-size: 20px;
	padding: 0 4px;
}

.arpButton {
	background: linear-gradient(#ddd, #95c);
}

.playButton {
	background: linear-gradient(#dddddd, #7799bb);
}

.instructionsButton {
	background: linear-gradient(#fff, #bbb);
	float: right;
	padding: 4px 8px;
}

@media (max-width: 900px) {
	.instructionsButton {
		padding: 4px 8px;
	}
}

@media (max-width: 547px) {
	.clearStaffButton,
	.arpButton {
		padding: 2px 8px;
	}
}
