:root {
	--key-height: 180px;
	--key-width: 300px;
}

.keyboardBox {
	margin-top: 20px;
	cursor: pointer;
	height: var(--key-height);
	display: flex;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-radius: 2px;
	position: relative;
}

.blackKeyBox {
	position: relative;
}

.blackKeys {
	width: 89%;
	display: flex;
	justify-content: space-between;
	z-index: 2;
	margin: 0 0 0 28px;
}

.blackKey {
	position: absolute;
	height: 90px;
	background: black;
	width: calc(var(--key-width) / 12);
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	box-sizing: border-box;
	border-radius: 0 0 4px 4px;
	margin: 0 0 0 calc(var(--key-width) / -25);
}

.whiteKeys {
	width: 100%;
	height: var(--key-height);
	display: flex;
	justify-content: space-between;
	z-index: 1;
}

.whiteKey {
	background: white;
	border-left: 1px solid black;
	border-right: 1px solid black;
	width: calc(var(--key-width) / 6);
	height: 100%;
}

.hideNote {
	visibility: hidden;
	width: 0;
}

.keySelected {
	background: lightskyblue;
}

/* Also applies to staff */
.hovered {
	background: lightblue;
}

.selectedHovered {
	background: deepskyblue;
}

@media (max-width: 900px) {
	:root {
		--key-height: 144px;
		--key-width: 240px;
	}

	.blackKey {
		height: 70px;
	}
}

@media (max-width: 450px) {
	:root {
		--key-height: 86px;
		--key-width: 160px;
	}

	.blackKey {
		height: 46px;
	}
}

@media (max-width: 350px) {
	:root {
		--key-height: 80px;
		--key-width: 140px;
	}
}
