body {
	min-height: 100vh;
	margin: 0;
	font-family: 'Comic Sans ms', sans-serif;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.flexRow {
	display: flex;
}

.flexColumn {
	display: flex;
	flex-direction: column;
}

.flexColumnCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flexRowCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.justifyAround {
	justify-content: space-around;
}

.pointer {
	cursor: pointer;
}

.textCenter {
	text-align: center;
}

.hide {
	display: none;
}

.relative {
	position: relative;
}

.cancelLinkStyle {
	text-decoration: none;
	color: inherit;
}
