body {
	min-height: 100vh;
	margin: 0;
	/* font-family: 'Comic Sans ms', sans-serif; */
	font-family: 'Nunito', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.flexRow {
	display: flex;
}

.flexColumn {
	display: flex;
	flex-direction: column;
}

.flexColumnCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flexRowCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.justifyAround {
	justify-content: space-around;
}

.justifyBetween {
	justify-content: space-between;
}

.pointer {
	cursor: pointer;
}

.defaultCurs {
	cursor: default;
}

.textCenter {
	text-align: center;
}

.hide {
	display: none;
}

.invisible {
	visibility: hidden;
}

.relative {
	position: relative;
}

.cancelLinkStyle {
	text-decoration: none;
	color: inherit;
}

/* Instruction Bubbles */
.filterHover {
	position: absolute;
	background: #ddd;
	padding: 8px;
	border: 1px solid #222;
	border-radius: 8px;
	z-index: 12;
	visibility: hidden;
	opacity: 0;
	font-size: 14px;
	min-width: 200px;
}

.hoverLow {
	bottom: 24px;
	left: -60px;
}

.hoverHigh {
	bottom: 36px;
	left: -60px;
}

.hoverPartials {
	top: -20px;
	left: 100px;
}

/* TODO -> Instead of overriding visibility, replace */
.filterVisible {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s 1s;
}
