.chordListingBox {
	width: 100%;
	margin: 0 20px;
}

.chordListing {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background: #f8f8f8;
	border: black solid 1px;
	margin: 8px 0;
	padding: 4px;
	border-radius: 5px;
	box-shadow: 2px 2px 4px black;
}

.chordRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 6px;
}

.chordName {
	margin: 2px 4px;
}

.rowBreak {
	width: 100%;
	margin: 6px;
	height: 1px;
	padding: 0 -4px;
	background: black;
}

.checkBoxes {
	display: flex;
	justify-content: space-between;
}

.onlyRoots {
	margin-bottom: 6px;
}

.perfectMatch {
	color: red;
	font-weight: bold;
}
