.chordListingBox {
	width: 100%;
	margin: 0 20px;
}

.chordListing {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background: #f8f8f8;
	border: black solid 1px;
	margin: 8px 0;
	padding: 4px;
	border-radius: 5px;
	box-shadow: 2px 2px 4px black;
}

.chordRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 6px;
}

.chordName {
	position: relative;
	margin: 2px 6px;
	padding: 0 2px;
}

.chordName:hover {
	text-decoration: underline;
	background: #aaaadd44;
	padding: 0 2px;
}

.hoverInfo {
	position: absolute;
	display: inline;
	background: lightgray;
	padding: 8px;
	border-radius: 4px;
	z-index: 10;
	white-space: nowrap;
	top: -40px;
	left: -60px;
}

.hoverInfo p {
	margin: 0;
}

.rowBreak {
	margin: 4px;
	height: 2px;
	background: black;
}

.checkBoxes {
	display: flex;
	justify-content: space-between;
}

.onlyRoots {
	margin-bottom: 6px;
}

.perfectMatch {
	color: red;
	font-weight: bold;
}
