.chordListingBox {
	margin: 0 20px;
}

.chordListing {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background: #f8f8f8;
	border: black solid 1px;
	margin: 8px 0;
	padding: 4px;
	border-radius: 5px;
	box-shadow: 2px 2px 4px black;
	max-width: 450px;
	min-width: 240px;
}

.chordListingTop h4 {
	margin: 8px 0;
}

.chordRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 6px;
}

.chordName {
	position: relative;
	margin: 2px 6px;
	padding: 0 2px;
}

.chordName:hover {
	text-decoration: underline;
	background: #aaaadd44;
	padding: 0 2px;
}

.hoverInfo {
	position: absolute;
	background: lightgray;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid grey;
	z-index: 10;
	top: -100px;
	left: -200px;
	width: 160px;
	animation: fade-in 0.5s;
}

.hoverInfoName {
	margin: 0;
	padding: 8px;
	border-radius: 4px;
	text-align: center;
	text-decoration: underline;
}

.hoverInfoNotes {
	max-width: 80px;
	margin: 0 auto;
	border-radius: 8px;
}

.hoverInfoNotes span {
	padding-left: 6px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.rowBreak {
	margin: 4px;
	height: 2px;
	background: black;
}

.perfectMatch {
	color: red;
	font-weight: bold;
}

@media (max-width: 900px) {
	.chordListingBox {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0;
	}

	.chordListingTop {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}

	.listingInputs {
		font-size: 14px;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
